<launch>
  	<!--<include file="$(find gazebo_ros)/launch/empty_world.launch">
	    <arg name="paused" value="false"/>
  	</include>-->

	<arg name="rvizconfig" default="$(find model_spawner)/rviz/rviz_config.rviz" />

	<arg name="model_gazebo" default="$(find model_spawner)/model/arm5/urdf/arm_scale.urdf"/>	

	<param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model_gazebo)"/>
	
	<rosparam file="$(find model_spawner)/config/tran_config.yaml" command="load"/>
							   
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>
		
	<node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
		
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" output="screen"/>
</launch>
